/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

/* IMPORTS */

/* STYLES */

.navbar{
    font-family: 'Sen', sans-serif;
}

.head{
    animation: animate__fadeInDown;
    animation-fill-mode: backwards;
    animation-duration: 2s;
}


.h1-title{
    position: relative;
    margin-top: 10rem;
    font-family: 'Sen', sans-serif;
    font-size: 7vw;
    line-height: 0.9;
    font-weight: 500;
    text-align: center;
    color: white;
}
.h2-title{
    position: relative;
    margin: 15px;
    font-family: 'Sen', sans-serif;
    font-size: 5vw;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    color: white;
    z-index: 1;
    margin:auto
}

.h3-title{
    position: relative;
    font-family: 'Sen', sans-serif;
    font-size: 5vw;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    color: white;
    z-index: 1;
    margin:auto
}

.h2-text-1{
    margin-top: 8rem;
    font-family: 'Sen', sans-serif;
    font-size: 5vw;
    line-height: 1;
    font-weight: 500;
    color: white;
}



.h2-text-2{
    margin-top: 8rem;
    font-family: 'Sen', sans-serif;
    font-size: 5vw;
    line-height: 1;
    font-weight: 500;
    color: white;
}



.aboutme{
    position: relative;
    margin: 15px;
    font-family: 'Sen', sans-serif;
    font-size: 5vw;
    line-height: 0.9;
    font-weight: 500;
    color: white;
}

.navbar-nav > li > .dropdown-menu-dark { background-color: black; }

.footer{
    font-family: 'Sen', sans-serif;
}

@media screen and (max-width: 768px) {
   .abouttext{

    margin-top: 100px;
   } 

}